---
http_interactions:
- request:
    method: get
    uri: https://api.amazonalexa.com/v1/devices/amzn1.ask.device.GGGGG/settings/address
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer JJJJJJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 88b4d853-8e02-4740-aaad-351739c7fd27
      X-Amz-Rid:
      - 3WX6
    body:
      encoding: ASCII-8BIT
      string: '{"addressLine1":null,"addressLine2":null,"addressLine3":null,"districtOrCounty":null,"stateOrRegion":null,"city":null,"countryCode":"US","postalCode":"55104"}'
  recorded_at: Sun, 20 Jan 2019 11:34:00 GMT
recorded_with: VCR 4.0.0
