---
http_interactions:
- request:
    method: get
    uri: https://www.minneapolismn.gov/media/minneapolismngov/site-assets/javascript/site-wide-notices/emergency-en.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 20 Dec 2024 20:01:49 GMT
      Etag:
      - '"23a7-629b91e09f2e8-gzip"'
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"notices\": [\n        \n\t\t\n\t\t{\n \"publishDate\": \"2024-11-20T09:50:00-06:00\",\n
        \"expireDate\": \"\",\n \"html\": \"<section class=\\\"organism--global-alert\\\"><div
        class=\\\"emergencynotice\\\" aria-live=\\\"assertive\\\" data-id=\\\"snow-emergency\\\"
        data-version=\\\"202412204711516.0\\\"><div class=\\\"notice notice\\\"><div
        class=\\\"row\\\"><div class=\\\"notice-body\\\"><div class=\\\"date\\\"><span
        class=\\\"dateDay\\\">Friday,<\\/span><br>December 20<\\/div><div class=\\\"icon\\\"><div
        class=\\\"atom--pulse-bullet\\\"><div class=\\\"pulse-css\\\"><\\/div><\\/div><\\/div><div
        class=\\\"message\\\"><h2 class=\\\"show-for-sr\\\">A snow emergency is not
        currently in effect. Normal parking rules apply.<\\/h2><p aria-hidden=\\\"true\\\">A
        snow emergency is not currently in effect. Normal parking rules apply.<\\/p><\\/div><a
        href=\\\"https://www.minneapolismn.gov/getting-around/snow/snow-emergencies/snow-updates/\\\"
        class=\\\"atom atom--shadow-button button tiny short\\\" tabindex=\\\"0\\\">Snow
        Emergency Updates<\\/a><button class=\\\"atom atom--close-button button close-button
        tiny short clear\\\" id=\\\"close-button-47115\\\" type=\\\"button\\\" aria-label=\\\"Close\\\"
        data-close> Close <span class=\\\"close-x fas fa-times\\\"><\\/span> <\\/button><\\/div><\\/div><\\/div><\\/div><\\/section>\",\n
        \"id\": \"snow-emergency\",\n \"noticetype\": \"notice\",\n \"version\": \"202412204711516.0\"\n},\n\t\t{\n
        \"date\": \"2024-12-20T14:01:45-06:00\",\n \"noticetype\": \"warning\",\n
        \"publishDate\": \"2024-12-19T11:59:00-06:00\",\n \"expireDate\": \"2024-12-19T21:00:00-06:00\",\n
        \"html\": \"<section class=\\\"organism--global-alert\\\"><div class=\\\"emergencynotice\\\"
        aria-live=\\\"assertive\\\" data-id=\\\"snow-emergency\\\" data-version=\\\"2522323.0\\\"><div
        class=\\\"notice warning\\\"><div class=\\\"row\\\"><div class=\\\"notice-body\\\"><div
        class=\\\"date\\\"><span class=\\\"dateDay\\\">Friday,<\\/span><br>December
        20<\\/div><div class=\\\"icon\\\"><img src=\\\"https://www.minneapolismn.gov/media/-www-content-assets/images/snow-emergency-icon-small.svg\\\"
        style=\\\"max-width: 2.625rem;max-height: 2.625rem;\\\" alt=\\\"Snow Emergency
        in effect\\\" /><\\/div><div class=\\\"message\\\"><h2 class=\\\"show-for-sr\\\">The
        City has declared a Snow Emergency. Day 1 rules begin at 9 p.m. tonight.<\\/h2><p
        aria-hidden=\\\"true\\\">The City has declared a Snow Emergency. Day 1 rules
        begin at 9 p.m. tonight.<\\/p><\[...]
